@font-face {
  font-family : 'Calibre';
  font-style  : normal;
  font-weight : 500;
  src         : url('fonts/Calibre-Semibold.woff2') format('woff2'),
                url('fonts/Calibre-Semibold.woff') format('woff');
}

@font-face {
  font-family : 'Calibre';
  font-style  : normal;
  font-weight : 400;
  src         : url('fonts/Calibre-Regular.woff2') format('woff2'),
                url('fonts/Calibre-Regular.woff') format('woff');
}

:root {
  --beige : #F2ECE2;
  --black : #1E1E1E;
  --red   : #EC603E;
  --dark-red : #3C1911;
  --yellow: #ECD03E;
}


body{
  margin  : 0px;
  padding : 0px;
  font-size: 16px;
  font-weight : 400;

  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family : 'Calibre',
                sans-serif;
  font-style  : normal;
  font-weight : 400;
  color:white;
}

i{
  color:white;
  font-size: .8em;
}

.value-large{
  font-size:74px;
  margin-bottom:0px;
  padding-bottom:0px;
}

.value-label{
  margin-top:-15px;
}



.interface-container{

  display: grid;
  grid-template-columns: 3fr 2fr;

  height:100vh;
}

#trebuchet-animation-holder{
  width:100%;
  height:400px;
}

#weight-changer{
  font-size:2em;
  display: inline-block;
  width:50px;
  user-select: none;
}

.weight-button{
  /* transform: translateY(-10px); */
  color: var(--dark-red);
  opacity:.25;
  width:100px;
  font-size:1.5em;
}

.weight-button:hover{
  color:white;
  opacity:1;
  cursor: pointer;
  transition: all 0.2s;
}

.main-interface{
  /* width:100%; */
  text-align: center;
  /* padding:50px; */
  background: var(--red);
  overflow: hidden;
}

.weight-counter{
  margin-top:50px;
  margin-bottom:50px;
 text-align: center;
 height:200px;

 display: grid;
 justify-content: center;
 align-items: center;
 height: 100px;
}

.energy-outputs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 400;
}

.toggle-sidebar-content{
  margin-top:175px;
}

#trial-recorder{
  transform: translateY(15px);
}

.sidebar{

  background: var(--dark-red);
  overflow: auto;
  /* width:100%; */

}

.sidebar-inner{
  padding:50px;

}

.toggle-headers{
  display:grid;
  grid-template-columns: 1fr 1fr .5fr;
  position: fixed;
  background-color: var(--dark-red);
  z-index: 1000;
  margin-top:-50px;
  padding-top:50px;
  width:inherit;
  padding-right:1000px;
}

.toggle-headers:hover{
  cursor: pointer;

}

.toggle-header-active{
  opacity:1;
  border-bottom: 3px solid white;
  width:140px;
}

.toggle-header-inactive{
  opacity:.4;
}

.experiment{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;

  position:absolute;
  top:130px;
  background-color: var(--dark-red);
  z-index:1000;
}

.potential-graph{

}

.fa-weight-hanging{
  opacity:.4;
}

#pot-energy-color{
  color: var(--red);
  font-size:22px;
  margin-right:15px;
  transform: translateY(2px);
}

#kin-energy-color{
  color: var(--yellow);
  font-size:22px;
  margin-right:15px;
  transform: translateY(2px);
}

#xp{
  width:142px;
  border-bottom: white solid 3px;
}

#ch{
  margin-left:25px;
  width:135px;
}

.challenge{
  position: relative;
}


/* TRIALS */

.trial{
  font-family : Calibre,
                sans-serif;
                margin-top:50px;
}

.trial-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 22px;
  color:white;
  font-weight : 500;
}
